<div class="container">
  <div class="header">
    <h1>QUEM SOMOS</h1>
  </div>
  <div class="content">
    <p>
      OpenDroid é um projeto com o objetivo de utilizar os
      <span class="highlight">ODS n° 4 e 12</span> para desenvolver e
      implementar uma ação educativa que incentive e oriente as pessoas da
      cidade de Diadema a fazerem alterações no android dos seus smartphones,
      visando a promoção de um consumo e uma produção mais sustentáveis, bem
      como o acesso à educação de qualidade e à cidadania digital.
    </p>
    <p>
      O tema foi escolhido para
      <span class="highlight"
        >promover a sustentabilidade e uso consciente de dispositivos
        móveis</span
      >
      por meio de técnicas de modificação promovendo iniciativas de código
      aberto a fim de aumentar a vida útil dos dispositivos.
    </p>
  </div>
  <div class="header">
    <h1>EQUIPE</h1>
  </div>
  <div class="team-section">
    <div class="team-text">
      <p>
        Nossa equipe de desenvolvimento é composta por 5 alunos atualmente
        matriculados no terceiro semestre do curso de Desenvolvimento de
        Software Multiplataformas na Fatec de Diadema.
      </p>
    </div>
    <div class="team-image">
      <img src="https://via.placeholder.com/600x400" alt="Equipe OpenDroid" />
    </div>
  </div>
</div>
