.container {
  color: var(--primaria);
  display: flex;
  flex-direction: column;
  min-width: calc(100vw - 240px);
  margin-left: 240px;
  padding: 10px;
  gap: 10px;
  text-align: center;
}

.logo img {
  width: 300px;
}

h1 {
  font-size: 5em;
  margin: 0;
}

p {
  margin: 10px 0;
}

.btn {
  display: inline-block;
  padding: 10px 20px;
  margin-top: 20px;
  background-color: var(--white)fff;
  color: var(--primaria);
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.btn:hover {
  background-color: #3e8e41;
  color: var(--white)fff;
}
