<section class="footer-container">
  <div class="between">
    <div class="menu-container">
      <span class="menu-title">Navegação</span>
      <span class="menu" [routerLink]="['/opendroid/forum']">Fórum</span>
      <span class="menu" [routerLink]="['/opendroid/documents']"
        >Documentos</span
      >
      <span class="menu" [routerLink]="['/opendroid/about']">Sobre</span>
    </div>
    <div class="contact-project-container">
      <div class="contact-container">
        <span class="contact">Entre em contato conosco</span>
        <div class="email-container">
          <i-lucide class="icon" name="mail"></i-lucide>
          <span class="email">drodroids&#64;gmail.com</span>
        </div>
      </div>
      <div class="project-container">
        <div class="logo-container">
          <img
            class="logo"
            src="assets/imgs/logo-opendroid-vertical.png"
            alt="logo-opendroid"
          />
        </div>
        <span class="org">Projeto acadêmico desenvolvido por</span>
        <span class="org">alunos da FATEC Diadema em 2024</span>
      </div>
    </div>
  </div>
</section>
