<section class="content">
  <span class="title">Documentos</span>
  <p class="document-description">
    Em cada um dos documentos abaixo, você encontrará um material teórico sobre
    o tema presente título, você pode baixar o arquivo e estudar depois! As tags
    de identificação são as palavras-chave do conteúdo dos arquivos.
  </p>
  <div class="document-container">
    <div class="file-container">
      <i-lucide name="file-down"></i-lucide>
      <span class="file-title">CP_Artigo_-_Open_Source_Software</span>
    </div>
    <div class="file-info-container">
      <p class="file-description">
        Este artigo, escrito por Alexandre João Petetim Leal Ferreira para a
        Licenciatura em Engenharia Informática da Universidade de Coimbra,
        explora as características, vantagens e desafios do software de código
        aberto (OSS). Ele aborda a importância do OSS na promoção de software
        acessível, seguro e personalizável, destacando sua superioridade em
        termos de independência de fornecedores e segurança. O artigo também
        discute a necessidade de combater preconceitos e desinformação sobre o
        OSS, fornecendo exemplos de plataformas de sucesso como Linux e
        OpenOffice.
      </p>
      <div class="tags">
        <span class="tag">#Linux</span>
        <span class="tag">#OpenSource</span>
      </div>
    </div>
    <div class="file-download-container">
      <span class="file-date">Publicado no ano de 2004</span>
      <button class="bt-file" (click)="openPDF('CP')">Baixar</button>
    </div>
  </div>
  <div class="document-container">
    <div class="file-container">
      <i-lucide name="file-down"></i-lucide>
      <span class="file-title">SD1-09-Memorias</span>
    </div>
    <div class="file-info-container">
      <p class="file-description">
        Este documento, proveniente da PUC-Rio, oferece uma visão abrangente
        sobre os diversos tipos de memórias semicondutoras, abordando suas
        classificações, tecnologias e características importantes. São
        detalhadas as diferenças entre memórias voláteis e não voláteis, como
        RAM, DRAM, e várias formas de ROM, incluindo PROM, EPROM, EEPROM e
        Flash. Além disso, o documento explora aspectos técnicos como tempo de
        acesso, consumo de energia e densidade de integração, e fornece uma
        análise das arquiteturas e funcionalidades internas dessas memórias,
        juntamente com exemplos práticos de aplicação e diagramas ilustrativos.
      </p>
      <div class="tags">
        <span class="tag">#ROM</span>
        <span class="tag">#Memória</span>
      </div>
    </div>
    <div class="file-download-container">
      <span class="file-date">Publicado em 03/08/2004</span>
      <button class="bt-file" (click)="openPDF('SD1')">Baixar</button>
    </div>
  </div>
</section>
